.cart-full-page{
  margin-top: 100px;
  background-color: lightgray;
}

.cart-page{
  background-color: inherit;
  display: flex;
  flex-direction: row;
  height: 80%
}

.cart-checkout-container {
  display: flex;
  flex: 3;
}

.cart-all-items {
  margin-top: -72px;
  display: flex;
  width: 1468px;
  flex: 14;
  flex-direction: column;
}

.cart-left-margin{
  display: flex;
  flex: 1;
}

/* .cart-right-margin{
  display: flex;
  flex: 1;
} */

.cart-item-box {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: fit-content;
  /* margin-top: 5ex; */
}

.cart-product-info{
  font-size: 20px;
  /* margin-top: 5ex; */
  /* margin-left: 5ex; */
  /* margin-bottom: 5ex; */
  /* margin: 5ex; */
  background-color: white;
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 1468px;
  justify-content: left;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
}

.cart-product-image-box{
  display: flex;
  height: 15ex;
  min-width: 15ex;
}

.cart-product-image {
  display: flex;
  height: inherit;
}

.cart-product-details{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: inherit;
  /* margin-left: 5ex; */
  justify-content: center;
}

.cart-product-name{
  display: flex;
  font-family: "Amazon Ember",Arial,sans-serif;
  /* font-style: bold; */
  font-size: 22px;
  font-weight: 500;
}

.update-quantity-input{
  width: 30px;
}

.quantity-to-add-box{
  display: flex;
  height: 35px;
  align-items: center;
}

.quantity-to-add-dropdown{
  display: flex;
  background-color: rgb(230, 230, 230);
  border-radius: 7px;
  border-color: lightgray;
}

.quantity-to-add-dropdown:hover{
  background-color: lightgray;
}

.cart-checkout-box{
  /* margin-top: 5%; */
  height: auto;
  width: auto;
  align-items: center;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
  background-color: white;
}

.cart-checkout-subtotal{
  font-size: 24px;
  font-weight: 500;
}

.free-return-message{
  font-size: 14px;
}

.free-delivery-message{
  font-size: 14px;
}

.instock-message{
  font-size: 18px;
  color: green;
}

.ships-from-message{
  font-size: 12px;
}

.add-to-cart-box{
  display: flex;
  height: 40px;
  align-items: flex-start;
  text-decoration: none;
}

.secure-transaction-message{
  font-size: 12px;
  color: rgb(35, 120, 195);
}

button{
  border-radius: 5px;
}

input{
  border-radius: 5px;
}

.cart-checkout-button{
  font-size: 22px;
  font-weight: 700;
  border-radius: 5px;
}

.cart-product-price{
  font-size: 22px;
  font-weight: 400;
}

.cart-update-quantity-button{
  background-color: rgb(225, 180, 122);
  font-size: 16px;
}

.cart-delete-button{
  background-color: lightcoral;
  font-size: 16px;
}

.cart-update-and-delete{
  display: flex;
  flex-direction: row;
}

.cart-empty-message{
  font-size: 30px;
  font-weight: 600;
  /* margin-top: 2.5ex; */
  /* margin-left: 5ex; */
  /* margin-bottom: 5ex; */
  /* margin: 5ex; */
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 40ex;
  width: inherit;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
}

.cart-link-to-homepage{
  font-size: 20px;
  text-decoration: none;
  color: blue;
}

.cart-thank-you{
  font-size: 40px;
}

.quantity-to-add-label{
  font-size: 15px;
}

.cart-add-button{
  display: flex;
  background-color: #efcf30;
  font-size: 14px;
  height: 30px;
  width: 160px;
  border-style: none;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login-from-add-to-cart{
  display: flex;
  text-decoration: none;
  align-items: center;
}

.cart-heading{
  display: flex;
  flex: 9;
  flex-direction: row;
}

.cart-heading-right-margin {
  display: flex;
  flex: 3;
}

.cart-heading-message {
  font-size: 24px;
  font-weight: 600;
  /* margin-top: 5ex; */
  margin-left: 1px;
  /* margin-bottom: 5ex; */
  /* margin: 5ex; */
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 1468px;
  justify-content: left;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
  flex: 14;
}

.cart-heading-left-margin{
  display: flex;
  flex: 1;
}