.cart-full-page{
  display: flex;
  background-color: lightgray;
  flex-direction: column;
  height: fit-content;
}

.cart-top-margin{
  display: flex;
  background-color: lightgray;
  height: 100px;
}

.cart-bot-margin{
  display: flex;
  background-color: lightgray;
  height: 200px;
}

.cart-body{
  display: flex;
  background-color: lightgray;
  height: fit-content;
  width: 100%;
  flex-direction: row;
}

.cart-page{
  display: flex;
  background-color: inherit;
  flex-direction: column;
  height: fit-content;
  align-items: flex-start;
  flex: 9;
}

.cart-checkout-container {
  display: flex;
  flex: 2;
}

.cart-heading{
  display: flex;
  height: fit-content;
  width: 100%;
}

.cart-heading-message {
  display: flex;
  padding: 5px;
  font-size: 30px;
  font-weight: 500;
  background-color: white;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
}

.cart-all-items {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  background-color: white;
  flex-direction: column;
  justify-content: left;
  width: 99.7%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
}

.cart-left-margin{
  display: flex;
  flex: 1;
}

.cart-right-margin{
  display: flex;
  flex: 1;
}

.cart-item-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: lightgray;
}

.cart-product-info{
  display: flex;
  font-size: 20px;
  /* padding-right: 5px; */
  flex-direction: row;
  /* background-color: white; */
  height: fit-content;
  justify-content: left;
  width: 100%;
}

.cart-product-image-box{
  display: flex;
  height: 160px;
  width: 160px;
  justify-content: center;
  flex: 2
}

.cart-product-image {
  display: flex;
  max-height: inherit;
  max-width: inherit;
}

.cart-product-details{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: auto;
  flex: 12;
  justify-content: center;
}

.cart-product-name{
  display: flex;
  font-family: "Amazon Ember",Arial,sans-serif;
  /* font-style: bold; */
  font-size: 22px;
  font-weight: 500;
}

.cart-product-details-instock-message{
  font-size: 12px;
}

.update-quantity-input{
  width: 30px;
}

.quantity-to-add-box{
  display: flex;
  height: 35px;
  align-items: center;
}

.quantity-to-add-dropdown{
  display: flex;
  border-radius: 7px;
  background-color: rgb(230, 230, 230);
  border-color: lightgray;
}

.quantity-to-add-dropdown:hover{
  background-color: lightgray;
}

.cart-checkout-box{
  /* margin-top: 5%; */
  height: fit-content;
  width: auto;
  align-items: center;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
  background-color: white;
}

.cart-checkout-subtotal{
  font-size: 24px;
  font-weight: 500;
}

.free-return-message{
  font-size: 14px;
}

.free-delivery-message{
  font-size: 14px;
}

.instock-message{
  font-size: 18px;
  color: green;
}

.ships-from-message{
  font-size: 12px;
}

.add-to-cart-box{
  display: flex;
  height: 40px;
  align-items: flex-start;
  text-decoration: none;
}

.secure-transaction-message{
  font-size: 12px;
  color: rgb(35, 120, 195);
}

button{
  border-radius: 5px;
}

input{
  border-radius: 5px;
}

.cart-checkout-button{
  display: flex;
  background-color: #efcf30;
  font-size: 14px;
  height: 30px;
  width: 160px;
  border-style: none;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cart-checkout-button:hover{
  background-color: #d3b622;
}

.cart-product-price{
  font-size: 22px;
  font-weight: 400;
}

.cart-update-quantity-button{
  background-color: rgb(225, 180, 122);
  font-size: 16px;
  border: none;
  background-color: white;
}

.cart-update-quantity-button:hover{
  text-decoration: underline;
  color: darkblue;
}

.cart-delete-button{
  background-color: transparent;
  font-size: 16px;
  border: none;
  background-color: white;
}

.cart-delete-button:hover{
  text-decoration: underline;
  color: darkblue;
}

.cart-update-and-delete{
  display: flex;
  flex-direction: row;
}

.cart-empty-message{
  font-size: 30px;
  font-weight: 600;
  /* margin-top: 2.5ex; */
  /* margin-left: 5ex; */
  /* margin-bottom: 5ex; */
  /* margin: 5ex; */
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 95%;
  align-items: center;
  justify-content: center;
  /* padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray; */
}

.cart-link-to-homepage{
  font-size: 20px;
  text-decoration: none;
  color: blue;
}

.cart-thank-you{
  font-size: 40px;
}

.quantity-to-add-label{
  font-size: 15px;
}

.cart-add-button{
  display: flex;
  background-color: #efcf30;
  font-size: 14px;
  height: 30px;
  width: 160px;
  border-style: none;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cart-add-button:hover{
  background-color: #d3b622;
}

.login-from-add-to-cart{
  display: flex;
  text-decoration: none;
  align-items: center;
}