.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: inherit;
  /* width: fit-content; */
}

.footer2 {
  /* margin-top: 200px; */
  background-color: inherit;
  position: relative;
}

.footer-link-box{
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  height: inherit;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.footer-link{
  padding: 4px;
  background-color: white;
  background-image: linear-gradient(to top, #5dd31e 60%, #8ee952 100%);
  border-style: solid;
  border-width: 1px;
  border-color:#17f81b;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}

.footer-link:hover{
  background-color: white;
  background-image: linear-gradient(to top, #f7f7f7 60%, #ffffff 100%);
  color: #17f81b;
}

.footer-image{
  padding-right: 3px;
  height: 16px;
  width: auto;
}
