/* .splash-page {
  background-color: gray;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
} */

.products-body{
  background-color: lightgray;
  /* margin: 20px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.products-listings-box{
  background-color: white;
  display: flex;
  margin: auto;
  flex-direction: column;
	max-height: 70ex;
	min-height: 70ex;
	max-width: 60ex;
	min-width: 60ex;
  align-items: center;
  justify-content: center;
}

.products-listings-names{
  margin: auto;
  display: flex;
  font-size: larger;
  word-wrap: break-word;
  max-height: fit-content;
	min-height: 30px;
	max-width: fit-content;
	min-width: auto;
  width: 75%;
  height: 75%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.products-listings-images{
  margin: auto;
  display: flex;
	max-height: 60ex;
	min-height: auto;
	max-width: 50ex;
	min-width: auto;
	height: 75%;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.products-listings-prices{
  display: flex;
  font-size: x-large;
  max-height: auto;
	min-height: auto;
	max-width: auto;
	min-width: auto;
  align-items: center;
  justify-content: center;
}

.link-to-product {
  text-decoration: none;
}

.link-to-product:link {
  color:black
}

.link-to-product:hover {
  color:rgb(63, 63, 224)
}

.link-to-product:active {
  color:black
}