.splash-page {
  background-color: lightgray;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.products-body{
  background-color: transparent;
  position: static;
  margin-top: -22%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.products-listings-box{
  background-color: white;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 400px;
  height: 600px;
  padding: 10px;
	/* max-height: 70ex;
	min-height: 70ex;
	max-width: 60ex;
	min-width: 60ex; */
  align-items: center;
  justify-content: space-around;
}

.products-listings-names{
  margin: auto;
  display: flex;
  font-size: larger;
  word-wrap: break-word;
  /* max-height: fit-content;
	min-height: 30px;
	max-width: fit-content;
	min-width: auto; */
  width: 80%;
  height: 25%;
  align-items: center;
  justify-content: start;
  text-decoration: none;
}

.products-listings-images{
  margin: auto;
  display: flex;
  /* height: 60%; */
	/* max-height: 60ex;
	min-height: auto;
	max-width: 50ex;
	min-width: auto; */
  /* width: 85%; */
  max-height: 70%;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.products-listings-prices{
  display: flex;
  font-size: x-large;
  max-height: auto;
	min-height: auto;
	max-width: auto;
	min-width: auto;
  align-items: center;
  justify-content: bottom;
}

.link-to-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
}

.link-to-product:link {
  color:black;
}

.link-to-product:hover {
  color:rgb(63, 63, 224);
}

.link-to-product:active {
  color:black;
}

.link-to-product:visited {
  color: black;
}

.cb-image{
	padding: 100px;
  width: 80%;
	position: static;
}

.full-header{
	display: flex;
	flex-direction: column;
}