.reviews-page{
  display: flex;
  margin-left: 20px;
  flex-direction: row;
  width: 100%;
  /* align-items: center; */
  /* vertical-align: super; */
  /* justify-content: center; */
}

.reviews-product-info{
  display: flex;
  height: 10ex;
  width: fit-content;
  /* min-width: 50ex; */
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
  padding: 5px;
}

.reviews-product-image-box{
  display: flex;
  height: inherit;
}

.reviews-product-name{
  font-family: "Amazon Ember",Arial,sans-serif;
  margin: 2ex;
  font-size: 18px;
  font-weight: 550;
}

.review-box{
  display: flex;
  font: "Amazon Ember",Arial,sans-serif;
  width: 70%;
  flex-direction: column;
  /* min-width: 70ex;
  max-width: 70ex; */
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: lightgray;
  padding: 5px;
  word-wrap: break-word;
}

.review-author-name{
  font-family: inherit;
  font-weight: 550;
}

/* .product-review-section{
  align-items: center;
} */

.product-reviews-box{
  /* margin: -32px; */
  display: flex;
  flex-direction: column;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-color: lightgray;
  padding: 5px;
  width: inherit;
  /* width: 800px; */
  /* max-height: auto;
  min-height: auto;
  max-width: auto;
  min-width: auto; */
  /* width: 25%; */
  /* align-items: left; */
  /* justify-content: top; */
  /* flex: 8 */
}

.product-reviews-heading{
  font-size: 20px;
  width: inherit;
}

.single-review-star-box{
  display: flex;
  height: 15px;
  width: auto;
}

.single-review-star-image{
  display: flex;
  height: 100%;
}

.delete-review-button-box{
  display: flex;
  height: 30px;
  width: 60px;
  align-items: flex-end;
  justify-content: flex-start;
}

.delete-review-button{
  border-width: 1px;
  background-color: rgb(230, 230, 230);
  border-color: lightgray;
  width: 100%;
}

.delete-review-button:hover{
  background-color: lightgray;
}